<div class="pt-5">
    <h1 class="text-4xl text-center primary-color pt-5">File Converter</h1>
    <h3 class="text-2xl text-center pb-5">Convert your files</h3>
    <div *ngIf="uploader.queue.length < 1" ng2FileDrop
        [ngClass]="{'border-4 rounded-lg border-red-400': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
        [uploader]="uploader">
        <mat-card class="file-dropzone bg-black">
            <mat-card-content class="border-2 border-gray-300 border-dashed px-10 py-7 pb-6">
                <div class="flex justify-center">
                    <div class="space-y-1 text-center">
                        <div class="flex text-sm text-gray-600">
                            <label for="file-upload"
                                class="relative cursor-pointer rounded-md text-xl font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                <span class="primary-color underline">
                                    Upload Files
                                </span>
                                <input ng2FileSelect [uploader]="uploader" multiple id="file-upload" name="file-upload"
                                    type="file" class="sr-only">
                            </label>
                            <p class="pl-1 text-xl text-white">or drag and drop</p>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="uploader.queue.length > 0" [ngClass]="{'border-red-400 border-4 border-dotted': hasBaseDropZoneOver}"
        ng2FileDrop (fileOver)="fileOverBase($event)" [uploader]="uploader">
        <table class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5">
            <thead class="text-white">
                <tr class="bg-black flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <th class="p-3 text-left">File Name</th>
                    <th class="p-3 text-left">Convert To</th>
                    <th class="p-3 text-left" width="110px">Actions</th>
                </tr>
                <tr class="bg-black flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <th class="p-3 text-left">File Name</th>
                    <th class="p-3 text-left">Convert To</th>
                    <th class="p-3 text-left" width="110px">Actions</th>
                </tr>
                <tr class="bg-black flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <th class="p-3 text-left">File Name</th>
                    <th class="p-3 text-left">Convert To</th>
                    <th class="p-3 text-left" width="110px">Actions</th>
                </tr>
                <tr class="bg-black flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <th class="p-3 text-left">File Name</th>
                    <th class="p-3 text-left">Convert To</th>
                    <th class="p-3 text-left" width="110px">Actions</th>
                </tr>
            </thead>
            <tbody class="flex-1 sm:flex-none">
                <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0" *ngFor="let item of uploader.queue">
                    <td class="border-grey-light border hover:bg-gray-100 px-3">
                        <span class="text-xs text-black border p-1 mx-2 border-black rounded">
                            {{ getFileType(item.file.name).toUpperCase()}}
                        </span>
                        {{item.file.name}}
                        <span class="text-xs primary-color border p-1 mx-2 border-red-500 rounded">
                            {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                        </span>
                    </td>
                    <td class="border-grey-light border hover:bg-gray-100 px-3 text-xs">
                        to: <mat-form-field appearance="fill" class="pt-2">
                            <mat-label>Convert</mat-label>
                            <mat-select>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>
                                <mat-option value="none">None</mat-option>

                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td
                        class="border-grey-light border hover:bg-gray-100 px-3 text-red-400 hover:text-red-600 hover:font-medium cursor-pointer">
                        <button mat-mini-fab color="warn" (click)="item.remove()" matTooltip="Remove" class="text-xs">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot class="text-white">
                <tr class="bg-black flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                    <td class="px-3 text-left" colspan="2">
                        <button mat-raised-button class="text-left bg-white primary-color" (click)="fileInput.click()">
                            <mat-icon>add</mat-icon> Add more files
                            <input #fileInput ng2FileSelect [uploader]="uploader" multiple type="file"
                                style="display:none;" />
                        </button>
                    </td>
                    <td class="p-3 text-right">
                        <button mat-raised-button class="flex-1 text-right primary-background text-white">Convert
                            {{uploader.queue.length >1 ? 'All': ''}}</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- <div class="pt-5 grid grid-cols-1 lg:grid-cols-2 gap-2">
        <mat-card class="bg-gray-100 p-5">
            <mat-card-title>
                <span class="text-black text-sm px-2 border-2 border-black rounded">PNG</span>
                <p>Portable Network Graphic
                </p>
            </mat-card-title>
            <mat-card-content>
                PNG is a raster graphic data storage format that uses lossless compression algorithm to Deflate. PNG was
                created as a free format to replace GIF. PNG supports three main types of raster images: grayscale
                image, a
                color indexed image and the color image.
            </mat-card-content>
            <mat-card-footer class="text-right">
                <a mat-raised-button href="#">Convert to PNG<mat-icon>chevron_right</mat-icon></a>
            </mat-card-footer>
        </mat-card>
        <mat-card class="bg-gray-100 p-5">
            <mat-card-title>
                <span class="text-red-500 text-sm px-2 border-2 border-red-500 rounded">JPEG</span>
                <p>Portable Network Graphic
                </p>
            </mat-card-title>
            <mat-card-content>
                PNG is a raster graphic data storage format that uses lossless compression algorithm to Deflate. PNG was
                created as a free format to replace GIF. PNG supports three main types of raster images: grayscale
                image, a
                color indexed image and the color image.
            </mat-card-content>
            <mat-card-footer class="text-right">
                <a mat-raised-button href="#">Convert to JPEG<mat-icon>chevron_right</mat-icon></a>
            </mat-card-footer>
        </mat-card>
    </div> -->
</div>